ul {
 list-style-type: none;
 margin: 1px;
 padding: 1px;
 overflow: hidden;
}

li {
 float: left;
 border-right: none;
 color: #3185FC
}

/* Add a border to all( but not the last) list items */
li:last-child {
 border-right: none;
}

li a {
 display: block;
 color: black;
 text-align: left;
 padding: 15px 17px;
 text-decoration: none;
}

/* Links will change color when hovered over */
li a:hover {
 background-color: #D1671E;
}

.active {
 background-color: #D1671E;
}

body {
  margin: 0;
  padding: 0;
  background-color: #95E0B2;
}

h1 {
  color:#2D2A32
}

h2,
h3 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  margin: 10px;
  text-align: left;
}

/* Create a position for the map on the page */
#map {
  position: relative;
  width: 100%;
  height: 700px;
}

/*Set rules for how the map overlays (information box and legend) will be displayed on the page. */
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Bauhaus, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

.map-overlay2 {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Bauhaus, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#features {
  top: 190px;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}

#features2 {
  top: 200px;
  height: 300px;
  margin-top: 20px;
  width: 400px;
}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 150px;
  margin-bottom: 40px;
  width: 100px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

#fly {
display: block;
position: absolute;
right: 10px;
width: auto;
height: 40px;
padding: 10px;
border: none;
border-radius:20px;
font-size: 20px;
text-align: center;
color: #fff;
background: #D1391E;
top:10px;
}

#pitch {
display: block;
position: absolute;
right: 10px;
width: auto;
height: 40px;
padding: 10px;
border: 10px;
border-radius:20px;
font-size: 20px;
text-align: center;
color: #fff;
background: #D1391E;
top:60px;
}
